body {
  padding: 0;
  margin: 0;
}
nav {
  min-height: 100px;
  background-color: green;
  justify-content: space-between;
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.nav-logo {
  text-align: left;
  display: inline-block;
}
.nav-logo img {
  margin: 10px;
}
.nav-center {
  display: inline-block;
}
.nav-center a {
  font-size: larger;
  margin: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.nav-right {
  display: inline-block;
}
.nav-right a {
  font-size: larger;
  margin: 10px;
  display: inline-block;
  color: white;
  text-decoration: none;
}
.hero-bg {
  position: relative;
  text-align: center;
  color: white;
}
.hero-text {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
}
.fitur {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.card-siswa,
.card-pengajar,
.card-staff,
.card-tahun {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto;
  border: solid 2px rgb(202, 202, 202);
  border-radius: 8px;
  display: inline-block;
  width: 24%;
  text-align: center;
  align-items: center;
}
