body {
  font-family: helvetica;
  margin: 0 auto;
}
header {
  background-color: darkblue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  margin: 0 auto;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo img {
  height: 60px;
}
.nav-middle {
  margin: 0 auto;
  display: block;
  align-items: center;
}
.nav-middle a,
.nav-right a {
  font-weight: 600;
  font-size: larger;
  color: white;
  text-decoration: none;
  margin: 15px;
}
.nav-right {
  display: block;
  align-items: end;
}
main {
  display: block;
  align-items: center;
  margin: 0 auto;
}
#hero {
  align-items: center;
  height: 90vh;
  background: url(../asset/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}
#hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}
#hero p {
  font-size: 1.2rem;
}
#fitur {
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.visi, .misi{text-align: center;}
