html,
body,
#flex-container {
}
#flex-container {
  display: flex;
  flex-direction: row;
  /* flex-direction: row-reverse; */
  /* justify-content: start; */
}
.flex-item {
  flex-basis: 100%;
  height: 100px;
  margin: 4px;
  background: #ec5453;
  font-size: 60px;
  color: white;
  text-align: center;
}
.flex-itemj {
  width: 100px;
  height: 100px;
  margin: 4px;
  background: #ec5453;
  font-size: 60px;
  color: white;
  text-align: center;
}
