  h1 {
            letter-spacing: -2px;
            word-spacing: 4px;
        }

        .small {
            font-size: 8px;
            letter-spacing: 2px;
            text-transform: uppercase;
        }

        .line-height {
            line-height: 1.6;
        }

        .indent {
            text-indent: 2em;
        }

        .nowrap {
            white-space: break-spaces;
        }