* {
  padding: 0;
  margin: 0;
}
h1 {
  color: black;
}
header {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 30px;
}
.gradient {
  color: aliceblue;
  height: 400px;
  padding: 100px;
  text-align: center;
  background: #833ab4;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
body {
  background-image: url(./image/photo-1651166403368-0cd7b89a2792.avif);
  background-size: cover;
  background-repeat: no-repeat;
}
.out {
  align-content: center;
  background-color: gray;
  width: 100px;
  height: 100px;
}
.middle {
  align-content: center;
  background-color: rgb(255, 0, 0);
  width: 50px;
  height: 50px;
}
.in {
  background-color: rgb(28, 60, 246);
  width: 10px;
  height: 10px;
}
