body {
  font-family: Helvetica;
  align-items: center;
  background-color: rgb(176, 176, 176);
}
.post {
  background-color: white;
  height: 950px;
  margin: 0 auto;
  width: 636px;
  box-shadow: 0px 0px 50px #11111150;
  border-radius: 20px;
}
.desc {
  text-align: center;
}
.poster {
  border-radius: 20px 20px 0 0;
  height: 800px;
  margin: 0 auto;
  width: 636px;
  background-image: url(./asset/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.buttons {
  gap: 10px;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  font-size: large;
}
.buttons p {
  font-weight: bold;
}
@keyframes slide-up {
  from {
    opacity: 0%;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes slide-right {
  from {
    opacity: 0%;
    transform: translateX(20px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes slide-left {
  from {
    opacity: 0%;
    transform: translateX(-20px);
  }
  to {
    opacity: 100%;
  }
}
@keyframes landing {
  from {
    opacity: 0%;
    transform: translateX(-20px);
    transform: rotate(10deg);
    scale: 2;
  }
  to {
  }
}
.butterfly1 {
  width: 121px;
  position: relative;
  top: 160px;
  left: 25px;
  z-index: 1;
  animation: slide-left 0.5s normal forwards;
}
.butterfly1:hover {
  scale: 1.08;
  transform: rotate(-10deg);
}
.butterfly1 img {
  width: 100%;
}
.title1 {
  transition: 0.2s;
  width: 450px;
  position: relative;
  top: 80px;
  left: 80px;
  z-index: 0;
  animation: slide-up 0.5s normal forwards ease-in-out;
}
.title1:hover {
  scale: 1.08;
}
.title1 img {
  width: 100%;
}
.flower1 {
  transition: 0.5s;
  width: 100px;
  position: relative;
  top: 0;
  left: 480px;
  z-index: 1;
  animation: slide-right 0.5s normal forwards;
}
.flower1:hover {
  filter: brightness(1.2);
  scale: 1.2;
}
.flower1 img {
  width: 100%;
}
.flower2 {
  transition: 0.5s;
  width: 100px;
  position: relative;
  left: 40px;
  z-index: 1;
  animation: slide-left 0.5s normal forwards;
}
.flower2:hover {
  filter: brightness(1.2);
  scale: 1.2;
}
.flower2 img {
  width: 100%;
}
.title2 {
  transition: 0.2s;
  width: 480px;
  position: relative;
  bottom: 100px;
  left: 80px;
  z-index: 0;
  animation: slide-up 1s normal forwards;
}
.title2:hover {
  scale: 1.08;
}
.title2 img {
  width: 100%;
}
.butterfly2 {
  width: 150px;
  position: relative;
  bottom: 180px;
  left: 450px;
  z-index: 1;
  animation: slide-right 0.5s normal forwards;
}
.butterfly2:hover {
  scale: 1.08;
  transform: rotate(10deg);
}
.butterfly2 img {
  width: 100%;
}
.poster > p {
  text-align: center;
  color: white;
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  position: relative;
  bottom: 150px;
  margin: 0 50px;
  animation: landing 0.5s normal ease-in;
}
.like {
  color: white;
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  animation: breathing-effect 1.2s ease-in-out infinite;
}
@keyframes breathing-effect {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 6);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(255, 0, 0, 0);
  }
  100% {
  }
}
.like svg {
  transition: 0.5s;
  width: 2rem;
  color: #111;
}
.like svg:hover {
  color: #f00;
  transform: scale(1.2, 1.2);
}
