body {
  margin: 0 auto;
}
#container {
  text-align: center;
  color: rgb(234, 129, 145);
  font-size: 22px;
}
#header {
  height: 100px;
  background-color: black;
}
#content {
  width: 75%;
  height: 250px;
  background-color: green;
  float: left;
}
#sidebar {
  width: 25%;
  height: 250px;
  background-color: rgb(131, 131, 202);
  float: right;
  color: white;
  text-decoration: none;
}
#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: gray;
  clear: both;
}
#footer p {
  margin: 0;
}
