* {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  align-items: center;
  height: 99vh;
  display: flex;
  flex-direction: column;
}
h1 {
  width: 100%;
  color: white;
  text-align: center;
  font-size: 5rem;
  background: linear-gradient(
    90deg,
    rgba(52, 56, 57, 1) 0%,
    rgba(165, 165, 165, 1) 48%,
    rgba(52, 56, 57, 1) 100%
  );
}

.wrapper {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
h2 {
  text-align: center;
}
.card1,
.card2,
.card3 {
  border-radius: 30px;
  gap: 2rem;
  color: white;
  width: 500px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0rem;
  font-size: x-large;
  box-shadow: 0px 5px 20px #aaa;
}
.card1 {
  background-color: #fe6347;
}
.card2 {
  background-color: #ffb901;
}
.card3 {
  background-color: #01a4ef;
}
.content {
  padding: 2rem 0.5rem;
  color: #111;
  background-color: white;
  height: 100%;
}
ol {
  align-items: center;
}
li {
  padding: 0 0.5rem;
  line-height: 2;
}
.square {
  list-style-type: square;
}
.circle {
  list-style-type: circle;
}
.disc {
  list-style-type: disc;
}
dt {
  color: red;
  font-weight: bold;
}
dd {
  margin-left: 1rem;
}

.graybgyellowborder {
  border-top: solid 1px yellow;
  border-bottom: solid 1px yellow;
  background-color: gainsboro;
}
.gray {
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  background-color: gainsboro;
}
